<div class="container">
  
  <header>
    <h1>MSAL Angular Standalone Demo</h1>
    
    <nav>
      <a routerLink="/">Home</a> |
      
      <a *ngIf="isLoggedIn" routerLink="/profile">Profile</a>
      
      <span class="auth-controls">
        <button *ngIf="!isLoggedIn" (click)="login()">Log In</button>
        @if(isLoggedIn){
          <p>logged as {{username}}</p>
          <button (click)="logout()">Log Out</button>
        }
      </span>
    </nav>
  </header>

  <hr>

  <router-outlet></router-outlet>
  
</div>